.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}

.spinnerContainer {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: rgb(188, 188, 188) transparent rgb(138, 138, 138) transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
